# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [7]:
import numpy as np
import pandas as pd

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [30]:
first = np.random.randint(1,5, size=100)
second = np.random.randint(1,4, size =100)
third = np.random.randint(10000,30001, size =100)

pd1 = pd.Series(first)
pd2= pd.Series(second)
pd3= pd.Series(third)

print(pd1)
print(pd2)
print(pd3)

0     4
1     4
2     4
3     4
4     4
     ..
95    4
96    4
97    1
98    4
99    3
Length: 100, dtype: int32
0     3
1     3
2     1
3     3
4     1
     ..
95    2
96    2
97    2
98    1
99    3
Length: 100, dtype: int32
0     18964
1     24539
2     25254
3     27895
4     18309
      ...
95    10391
96    22582
97    12387
98    24315
99    13396
Length: 100, dtype: int32

### Step 3. Let's create a DataFrame by joinning the Series by column

In [54]:
df = pd.concat([pd1,pd2,pd3], axis=1)
df

    0  1      2
0   4  3  18964
1   4  3  24539
2   4  1  25254
3   4  3  27895
4   4  1  18309
.. .. ..    ...
95  4  2  10391
96  4  2  22582
97  1  2  12387
98  4  1  24315
99  3  3  13396

[100 rows x 3 columns]

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [55]:
df.set_axis(['bedrs','bathrs','price_sqr_meter'], axis=1)

    bedrs  bathrs  price_sqr_meter
0       4       3            18964
1       4       3            24539
2       4       1            25254
3       4       3            27895
4       4       1            18309
..    ...     ...              ...
95      4       2            10391
96      4       2            22582
97      1       2            12387
98      4       1            24315
99      3       3            13396

[100 rows x 3 columns]

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [61]:
# joining the values together
bigcolumn = pd.concat([pd1,pd2,pd3], axis=0)

# converting to dataframe
bigcolumn = bigcolumn.to_frame()

bigc

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [60]:
import pandas as pd

# Assuming s1, s2, s3 are your Series
s1 = pd.Series([1, 2, 3])
s2 = pd.Series([4, 5, 6])
s3 = pd.Series([7, 8, 9])

# Concatenate the Series into a DataFrame
dif = pd.concat([s1, s2, s3], axis=1)

# Assign column name 'bigcolumn' to the resulting DataFrame
dif.columns = ['bigjcolumn']

print(dif)

ValueError: Length mismatch: Expected axis has 3 elements, new values have 1 elements

### Step 7. Reindex the DataFrame so it goes from 0 to 299